@font-face {
  font-family: "Poppins";
  src: url("../../Fonts/Poppins-SemiBold.ttf");
}

.Background_Landing {
  font-family: "Poppins";
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
}

.TrottLanding_Logo {
  width: 60vw;
  margin: 0;
  padding: 2rem;
  color: white;
  font-size: 4rem;
}

.Text_container {
  width: 70%;
  text-align: center;
  margin: auto;
}

.Img_container {
  display: flex;
  justify-content: space-between;
  width: 58%;
  margin: auto;
  margin-bottom: 2rem;
}

.Text {
  font-size: 1rem;
  line-height: 20px;
}

.Text_Form {
  color: white;
}

.margin_text {
  margin-bottom: 10rem;
}

.link_as_button {
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 3rem;
  text-decoration: none;
}