/* --------------------------------------------------------------------------- */
/* ------------------------------ TROTT - Page CITY -------------------------- */
/* --------------------------------------------------------------------------- */

.bg_mycity {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/26/ea/fc/26eafc0b14488fea03fa8fa9751203ff.jpg");
  background-size: cover;
}

.Page_Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home_Title_container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.Flex_Title {
  max-width: 70vw;
  padding: 1rem;
}

.Home_Title {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0;
  margin-top: 5rem;
  text-align: end;
  font-size: 2.5rem;
}

.button_Go {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  border-radius: 39px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  padding: 0.7rem 2rem;
  font-size: 1.3rem;
}

.Button_Container {
  margin-bottom: 1rem;
}

.button_Bar_Home {
  background-color: white;
  width: 40vw;
  height: 0.8vh;
  border-radius: 5px;
}

.Logo_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}

.logo_Landing {
  width: 33%;
}
/* --------------------------------------------------------------------------- */
/* ----------------------------- TROTT - Menu Burger ------------------------- */
/* --------------------------------------------------------------------------- */

.bm-item {
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.img-menu-no-connect {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 35px;
  bottom: 55px;
  z-index: 1000;
}

.bm-burger-button {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 35px;
  bottom: 55px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  /*padding: 2.5em 1.5em 0; */
  padding: 0;
  padding-top: 1em;
  padding-left: 1.5em;
  font-size: 1.15em;
  border-radius: 20px 20px 0 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.size {
  max-height: 30vh;
  bottom: 0;
}

.size-no-connect {
  max-height: 38vh;
  bottom: 0;
}

.menu_infos {
  width: 85vw;
  height: 7vh;
  border-radius: 25px;
  background-color: #ffffff;
}

.menu_info_1 {
  width: 28vw;
  height: 7vh;
  border-right: solid 1px grey;
  color: black;
  margin: 0;
  font-size: 11px;
  font-family: "Poppins";
  font-weight: 200;
}

.menu_info_3 {
  width: 28vw;
  height: 6vh;
  font-size: 12px;
  color: black;
  font-family: "Poppins";
  font-weight: 200;
}

.menu_info_important {
  font-size: 1rem;
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
}

.user_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.5em;
}

.user_stat {
  width: 93%;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  background-color: #ea8888;
  border-radius: 18px;
  text-align: center;
  margin: 0;
  padding: 0.4rem
}

.user_stat p {
  margin: 0;
}

.user-login-register{
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  color:  #fff;
  background-color:  #925cff;
  border-radius: 18px;
  border-color: #925cff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-weight: 600;
}

.linkdeco {
  text-decoration: none;
  color: inherit;
}

.user_list img {
  margin-right: 1em;
}

.menu_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.menu_info_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu_info_questions {
  background: #363636;
  float: right;
  height: 5vh;
  width: 15vw;
  border-radius: 20px 0 0 0;
}

/* --------------------------------------------------------------------------- */
/* --------------------------- TROTT - Menu Filter ----------------------- */
/* --------------------------------------------------------------------------- */

.button_position {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 55px;
  left: 80vw;
}

.css-2b097c-container {
  width: 85vw;
  color: black;
}

.block_filter_content {
  min-width: 40vw;
  max-height: 15vh;
  background-color: white;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  color: black;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.block_filter_content p{
  margin: 0;
}

.block_filter_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter_content_display {
  display: flex;
  overflow-x: scroll;
}

.filter_rating {
  background-color: black;
  color: white;
  border-radius: 0 0 1rem 1rem;
}
/* --------------------------------------------------------------------------- */
/* ---------------------------- TROTT - Interface MAP ------------------------ */
/* --------------------------------------------------------------------------- */

.map {
  height: 100vh;
}

.ScanLogo {
  position: absolute;
  top: 700px;
  left: 145px;
  margin: auto;
  z-index: 1001;
}

.Text_Scan {
  font-family: "Poppins";
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
}

.Text_Scan:link {
  text-decoration: none;
}

.Text_Scan:visited {
  text-decoration: none;
}

.Text_Scan:active {
  text-decoration: none;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- TROTT - CLUSTER LAYER ------------------------ */
/* --------------------------------------------------------------------------- */

.markerClusterSmall {
  border-radius: 20px;
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.markerClusterMedium {
  border-radius: 40px;
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.markerClusterLarge {
  border-radius: 70px;
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.markerClusterLargeXL {
  border-radius: 70px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.markerClusterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(85.1% 134.20000000000002% at 9.9% 31.2%, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25), 0px 2px 5px 0px rgba(0,0,0,0.25);
  border: 3px solid #ffffff;
  padding: 0.6rem;
  border-radius: 47px;
  width: fit-content;
}

.markerClusterBlock img {
  width: 2rem;
  margin-right: 0.6rem;
}

/* --------------------------------------------------------------------------- */ 
/* ---------------------------- TROTT - Interface MAP ------------------------ */
/* --------------------------------------------------------------------------- */

.map {
  height: 100vh;
}

.ScanLogo {
  position: absolute;
  top: 700px;
  left: 145px;
  margin: auto;
  z-index: 1001;
}

.Text_Scan {
  font-family: "Poppins";
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

.Text_Scan:link {
  text-decoration: none;
}

.Text_Scan:visited {
  text-decoration: none;
}

.Text_Scan:active {
  text-decoration: none;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- TROTT - Interface SCAN ------------------------ */
/* --------------------------------------------------------------------------- */


.Bg_QrCode_Reader {
  background-color: gray;
  width: 100vw;
  height: 100vh;
}

.Cnt_Logo {
  background: linear-gradient(131deg, #ff5757 0%, rgb(255, 15, 103) 100%);
  border-radius: 0.5rem;
  border: white 2px solid;
  position: absolute;
  transform: translate(-50%);
  height: 10vh;
  width: 77%;
  top: 10vh;
  left: 50%;
  text-align: center;
  z-index: 2;
}

.logo_trott_2 {
  max-width: 11vw;
}


.Title_Scan {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem;
  line-height: 1.2;
  font-style: normal;
}

.ctn_link_Phone {
  margin: 1rem;
}

.link_Phone {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  line-height: 1.2;
  font-style: normal;
}

.QrReader section {
  padding-top: 0!important;
  height: 100vh;
}

.QrReader section div {
  width: 100vw!important;
  height: 100vh!important;
  border-top: 20rem solid rgba(0, 0, 0, 0.5)!important;
  border-bottom: 17rem solid rgba(0, 0, 0, 0.5)!important;
  border-right: 4.5rem solid rgba(0, 0, 0, 0.5)!important;
  border-left: 4.5rem solid rgba(0, 0, 0, 0.5)!important;
  box-shadow: rgba(255, 255, 255) 0px 0px 0px 5px inset!important;
}

.cross_style {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 10001;
  font-size: 2rem;
  padding: 0.5rem;
  color: hsl(338, 100%, 50%);
}


/* --------------------------------------------------------------------------- */
/* --------------------------- TROTT - Interface POPUP ----------------------- */
/* --------------------------------------------------------------------------- */

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: none;
  box-shadow: none
}

.general_popup {
  width: 95vw;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", serif;
}

.bg_popup-block {
  background-color: white;
  border-block-end: solid black 20px;
  border-radius: 20px;
  width: 95vw;
  margin-bottom: 5%;
  padding: 5% 2% 5% 0;
  display: flex;
  justify-content: space-around;
}

.pop-trott_img {
  align-self: center;
  justify-self: center;
  max-width: 30vw;
}

.trott_provider-logo {
  align-self: flex-start;
  justify-self: center;
  border-radius: 30%;
}

.popup_text-info p {
  margin: 0;
}

.popup_text-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  font-size: 1rem;
  flex: 1;
}

.trott_id {
  text-decoration: underline;
}

.block_trott-info {
  display: flex;
}

.block_column-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
}

.block_column-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button_popup-trottinfo {
  background-color: black;
  border-radius: 38px;
  width: fit-content;
  color: whitesmoke;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  align-self: flex-end;
  font-family: "Poppins", serif;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-popup-content {
  margin: 0px;
}

.Toastify__toast--info {
  background: #ff6464;
}

