/* --------------------------------------------------------------------------- */
/* ------------------------------ TROTT - Page CITY -------------------------- */
/* --------------------------------------------------------------------------- */

.bg_mycity {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/26/ea/fc/26eafc0b14488fea03fa8fa9751203ff.jpg");
  background-size: cover;
}

.Page_Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home_Title_container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.Flex_Title {
  max-width: 70vw;
  padding: 1rem;
}

.Home_Title {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0;
  margin-top: 5rem;
  text-align: end;
  font-size: 2.5rem;
}

.button_Go {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  border-radius: 39px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  padding: 0.7rem 2rem;
  font-size: 1.3rem;

}

.Button_Container {
  margin-bottom: 1rem;
}

.button_Bar_Home {
  background-color: white;
  width: 40vw;
  height: 0.8vh;
  border-radius: 5px;
}

.Logo_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}

.logo_Landing {
  width: 33%;
}

/* --------------------------------------------------------------------------- */
/* ----------------------------- TROTT - Menu Burger ------------------------- */
/* --------------------------------------------------------------------------- */

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 35px;
  bottom: 55px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  /*padding: 2.5em 1.5em 0; */
  padding: 0;
  padding-top: 1em;
  padding-left: 1.5em;
  font-size: 1.15em;
  border-radius: 20px 20px 0 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.size {
  max-height: 30vh;
  bottom: 0;
}

.menu_infos {
  width: 85vw;
  height: 7vh;
  border-radius: 25px;
  background-color: #ffffff;
}

.menu_info_1 {
  width: 28vw;
  height: 7vh;
  border-right: solid 1px grey;
  color: black;
  margin: 0;
  font-size: 11px;
  font-family: "Poppins";
  font-weight: 200;
}

.menu_info_3 {
  width: 28vw;
  height: 6vh;
  font-size: 12px;
  color: black;
  font-family: "Poppins";
  font-weight: 200;
}

.menu_info_important {
  font-size: 1rem;
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
}

.user_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.5em;
}

.user_list img{
  margin-right: 1em;
}

.menu_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu_info_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu_info_questions {
  background: #363636;
  float: right;
  height: 5vh;
  width: 15vw;
  border-radius: 20px 0 0 0;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- TROTT - Interface MAP ------------------------ */
/* --------------------------------------------------------------------------- */

.map {
  height: 100vh;
}

.ScanLogo{
  position: absolute;
  top: 700px; left: 145px;
  margin: auto;
  z-index: 1001;
}

.Text_Scan {
  font-family: "Poppins";
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
}

.Text_Scan:link {
  text-decoration: none;
}

.Text_Scan:visited {
  text-decoration: none;
}

.Text_Scan:active {
  text-decoration: none;
}


/* --------------------------------------------------------------------------- */
/* ---------------------------- TROTT - Interface SCAN ------------------------ */
/* --------------------------------------------------------------------------- */

.Background_Scan {
  height: 100vh;
  background-image: url(../../Image/qrcode.png);
}