@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap");

.Background_Form {
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 60vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
}

.Text {
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.Btn_Social_Container {
  display: flex;
  flex-direction: column;
}

.link_as_button1 {
  background-color: #3a5999;
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5rem 3rem;
  text-decoration: none;
  margin: 0.5rem;
}

.link_as_button2 {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #000000;
  padding: 0.5rem 3rem;
  text-decoration: none;
  margin: 0.5rem;
}

.link_as_button3 {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5rem 3rem;
  text-decoration: none;
  margin: 0.5rem;
}