.landing-page {
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
}

.fig{margin-top: 0;}

.logo {
  max-width: 60vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
}
.title {
  font-size: 4rem;
  margin-top: 0;
  color: white;
}

.divText {
  text-align: left;
  margin-left: 5vw;
}
.createProfile {
  width: 297px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
}

.pConnect {
  margin-top: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: baseline;
}

.smiley {
  margin-left: 2vw;
  width: 7%;
  height: 5%;
}

.button {
  font-family: "Poppins", sans-serif;
  margin-top: 8vh;
  width: 9rem;
  height: 2rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 39px;
  color: rgb(230, 119, 119);
  border: none;
}

.imageConnect{
  margin-bottom: 0;
}

.pWconnect {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 2%;
}
