/* --------------------------------------------------------------------------- */
/* -------------------------TROTT - Interface TrottNavMap -------------------- */
/* --------------------------------------------------------------------------- */

.ScanLogo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  z-index: 1000;
}

.Text_Scan {
  font-family: "Poppins";
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

.Text_Scan:link {
  text-decoration: none;
}

.Text_Scan:visited {
  text-decoration: none;
}

.Text_Scan:active {
  text-decoration: none;
}