@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
.Background_Form {
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.TrottForm_Logo {
  width: 60vw;
  color: white;
}

.Text_Container {
  width: 85vw;
  margin-bottom: 2rem;
}

.Enter_Number {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
  color: white;
}

.Text_Form {
  color: white;
  text-align: start;
  font-size: 0.95rem;
}

.Input_Container {
  width: 90vw;
}

.Input_Phone {
  border: none;
  background-color: transparent;
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.Text_Form_Align {
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.Border_Phone {
  border-bottom: solid 2px white;
}

.Border_Continue {
  border-bottom: solid 5px white;
}

.next_link {
  margin: 3rem;
}

.Other_Connect {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Without_Connect {
  color: white;
  text-decoration: none;
}

.link_as_button {
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 3rem;
  text-decoration: none;
}

.link_as_button_Transparent {
  border-radius: 39px;
  border: solid white 1px;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #ffffff;
}