/* --------------------------- TROTT - Preview SCAN ----------------------- */
.Reader{
  background-color: gray;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.container_Content {
  background: #00DD00;
  border: white solid 1px;
  border-radius: 1rem;
  font-family: "Poppins";
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.txt_padding {
  line-height: 1rem;
}

.title_troot {
  font-size: 1rem;
  padding: 1rem;
}

.Preview_troot {
  border-radius: 1rem;
  border: solid 1px rgb(77, 77, 77); 
  max-width: 50%;
}

.cross_style svg {
  background-color: white;
  border-radius: 50%;
}

.link_unlock {
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.1rem 1rem;
  text-decoration: none;
}