@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

.Background_Sms {
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  font-family: 'Poppins', sans-serif;
}

.Enter_Sms-Container {
  display: flex;
  justify-content: center;
}

.Enter_Sms {
  font-weight: 1000;
  font-size: 1.3rem;
  text-align: start;
  color: white;
  width: 90vw;
}

.bar_Home {
  background-color: white;
  height: 5px;
  border-radius: 3px;
  border: none;
  width: 40vw;
}