.bg_register {
  display: flex;
  flex-direction: column;
}

.logoTrott {
  max-width: 60vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
  align-self: center;
}

.Without_Connect {
  align-self: center;
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
}

.link_button_register {
  align-self: center;
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 3px 0;
  text-align: center;
}

/* --------------------------------------------------------------------------- */
/* ----------------------------- Register - Page ONE ------------------------- */
/* --------------------------------------------------------------------------- */

.title {
  font-size: 4rem;
  margin-top: 0;
  color: white;
}

.divText {
  text-align: left;
  margin-left: 5vw;
}

.createProfile {
  width: 297px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
}

.pConnect {
  margin-top: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: baseline;
}

.smiley {
  margin-left: 2vw;
  width: 7%;
  height: 5%;
}

.button {
  font-family: "Poppins", sans-serif;
  margin-top: 8vh;
  width: 9rem;
  height: 2rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 39px;
  color: rgb(230, 119, 119);
  border: none;
}

.imageConnect {
  align-self: center;
  margin-bottom: 10%;
}

.block_register_linkButton {
  align-self: center;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* --------------------------------------------------------------------------- */
/* ----------------------------- Register - Page TWO ------------------------- */
/* --------------------------------------------------------------------------- */

.bg_regPageTwo {
  justify-content: center;
  align-items: center;
}

.block_form {
  width: 95vw;
  align-self: center;
  margin-bottom: 8vh;
  height: 50vh;
  align-items: center;
  color: white;
}

.block_fieldset {
  height: 100%;
  padding: 20px 0px;
}

.form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.form_container input {
  margin-bottom: 2vh;
}

.link_submitButton {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin-top: 6vh;
  font-family: "Poppins", serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.link_otherConnect {
  align-self: center;
  border: solid white 2px;
  border-radius: 39px;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 3px 0;
  text-align: center;
  width: 50vw;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- Register - Page TWO BIS ---------------------- */
/* --------------------------------------------------------------------------- */

.Background_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 60vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
}

.Text {
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.Btn_Social_Container {
  display: flex;
  flex-direction: column;
}

.link_as_button1 {
  background-color: #3a5999;
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 0.5rem;
}

.link_as_button2 {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #000000;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 0.5rem;
}

.link_as_button3 {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 0.5rem;
}

/* --------------------------------------------------------------------------- */
/* ----------------------------- Register - BY PHONE ------------------------- */
/* --------------------------------------------------------------------------- */

.Background_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.TrottForm_Logo {
  width: 60vw;
  color: white;
}

.Text_Container {
  width: 85vw;
  margin-bottom: 2rem;
}

.Enter_Number {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
  color: white;
}

.Text_Form_test {
  color: white;
  text-align: start;
  font-size: 0.95rem;
}

.Input_Container {
  width: 90vw;
}

.Input_Phone {
  border: none;
  background-color: transparent;
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.Text_Form_Align {
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.Border_Phone {
  border-bottom: solid 2px white;
}

.Border_Continue {
  border-bottom: solid 5px white;
}

.next_link {
  margin: 3rem;
}



.link_as_button {
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

/* --------------------------------------------------------------------------- */
/* --------------------------- Register - BY PHONE BIS ----------------------- */
/* --------------------------------------------------------------------------- */

.Enter_Sms-Container {
  display: flex;
  justify-content: center;
}

.Enter_Sms {
  font-weight: 1000;
  font-size: 1.3rem;
  text-align: start;
  color: white;
  width: 90vw;
}

.bar_Home {
  background-color: white;
  height: 5px;
  border-radius: 3px;
  border: none;
  width: 40vw;
}

