.logo {
  max-width: 60vw;
  padding-top: 4vh;
  margin-bottom: 4vh;
}

.loginDiv{
  height: 100vh;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
}

.title{
  font-size: 3rem;
  margin-top: 0;
}

.inputDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input{
  max-width: 70%;
  align-self: center;
  margin-bottom: 5%;
  border-radius: 12px;
  border: 0.16rem solid black;
  text-align: center;
  padding: 0.4rem;
  transition: all 0.2s;  
}

.input:hover{
  border-color: rgba(255,255,255,1);
}

.label{
  color: #ffffff;
  margin-bottom: 5%;
  font-size: 1.3rem;
  align-self: center;
}


.connexionInput{
  display: flex;
  padding: 0.5rem;
  margin-top: 10%;
  border-radius: 12px;
  border: 0.16rem solid black;
  transition: all 0.2s;
  justify-content:  center;
}


.connexionInput:hover{
  border-color: rgba(255,255,255,1);
}
