@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

.Background_Home_Location {
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://zupimages.net/up/20/25/3l4c.png");
  background-size: cover;
}

.Page_Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home_Title_container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.Flex_Title {
  max-width: 70vw;
  padding: 1rem;
}

.Home_Title {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0;
  margin-top: 5rem;
  text-align: end;
  font-size: 2.5rem;
}

.button_Go {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  border-radius: 39px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  padding: 0.7rem 2rem;
  font-size: 1.3rem;

}

.Button_Container {
  margin-bottom: 1rem;
}

.button_Bar_Home {
  background-color: white;
  width: 40vw;
  height: 0.8vh;
  border-radius: 5px;
}

.Logo_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}

.logo_Landing {
  width: 33%;
}