@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.bg_app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(154deg, #ff5757 0%, hsl(338, 100%, 50%) 100%);
  font-family: "Poppins", serif;
}

.link_button {
  background-color: rgb(255, 255, 255);
  border-radius: 39px;
  color: #ff5757;
  padding: 0.5rem 3rem;
  text-decoration: none;
}